config/betterdays-common.toml
config/lighty.config
config/chunky/tasks/*
data/surveyor/*

emi.json
patchouli_data.json
rhino.local.properties

backups
crash-reports
local
logs
saves
screenshots
usercache.json
usernamecache.json
.mixin.out

/cherishedworlds-favorites.dat

# packwiz distribution build outputs
/dist
/tools/packwiz
